@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">

        <Found Context="routeData">
            <!-- AuthorizeRouteView schützt alle [Authorize]-Seiten -->
            <AuthorizeRouteView RouteData="routeData"
                                DefaultLayout="typeof(Layout.MainLayout)">

                <!-- Dieser Block greift, wenn [Authorize] auf der Seite ist und der User nicht angemeldet -->
                <NotAuthorized>
                    <RedirectToHome />
                </NotAuthorized>
            </AuthorizeRouteView>

            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>

        <NotFound>
            <LayoutView Layout="typeof(Layout.MainLayout)">
                <p>Seite nicht gefunden.</p>
            </LayoutView>
        </NotFound>

    </Router>
</CascadingAuthenticationState>
